<template>
    <div>
        Загон{{corral.number}} ({{ corral.sheeps.length }})
        <div class="text-gray-700 text-right bg-white p-3 overflow-auto h-64 border border-blue-700">
            <sheep :sheep="corral.sheeps"></sheep>
        </div>
    </div>
</template>

<script>
    import Sheep from "./Sheep";

    export default {
        name: "Corral",
        components: {Sheep},
        props: ['corral'],

        mounted() {
            this.checkSheepCount()
        },

        methods:{
            checkSheepCount(){
                if (this.corral.sheepsCount < 2){
                    this.$emit('move-sheep', this.corral.id)
                }
            }
        },

        watch: {
            'corral.sheepsCount'() {
                this.checkSheepCount()
            }
        }
    }
</script>

<style scoped>

</style>