<template>
    <div>
        <div class="text-right px-48 pt-12">
            <router-link to="/report" class="font-bold text-blue-700 text-xl">Отчет</router-link>
        </div>
        <div class="p-8 px-40">
            <fieldset class="bg-gray-100 border border-gray-400">
                <legend class="text-blue-800">Фермочка для овечек</legend>
                <h2 class="text-center font-bold text-lg text-blue-800">День - {{ day }} </h2>
                <div class="flex flex-wrap justify-center ">
                    <corral v-for="corral in corrals"
                            :key="corral.id"
                            :corral="corral"
                            @move-sheep="moveSheep"
                            class="w-2/5 text-left m-8 text-blue-800"
                    />
                </div>
            </fieldset>

            <div class="flex justify-between">
                <div class="py-2">
                    <button
                            @click="update"
                            class="border border-blue-700 bg-gray-200 rounded px-4 py-1"
                            :class="{'spinner': loading}"
                    >
                        Обновить
                    </button>
                </div>
                <div class="py-2">
                    <button @click="deleteOneSheepEveryCorral"
                            class="border border-blue-700 bg-gray-200 rounded px-4 py-1"
                            :class="{'spinner': loading}"
                    >
                        Зарубить овечек
                    </button>
                </div>
            </div>

            <div class="flex justify-between">
                <div class="py-2 w-1/4">
                    <select v-model="commandForm.commandName"
                            class="w-full border border-blue-700 bg-gray-200 rounded px-4 py-1">
                        <option value="">Выберите команду</option>
                        <option v-for="command in commands" :key="command.name" :value="command.name">
                            {{command.label}}
                        </option>
                    </select>
                </div>
                <div class="py-2 w-1/4">
                    <select v-if="commandForm.commandName" v-model="commandForm.corralId"
                            class="w-full border border-blue-700 bg-gray-200 rounded px-4 py-1">
                        <option value="">Выберите загон</option>
                        <option v-for="cor in corrals" :key="cor.id" :value="cor.id">Загон-{{cor.id}}</option>
                    </select>
                </div>
                <div class="py-2 w-1/4">
                    <select v-if="commandForm.corralId && commandForm.commandName === 'move-sheep'"
                            v-model="commandForm.toCorralId"
                            class="w-full border border-blue-700 bg-gray-200 rounded px-4 py-1">
                        <option value="">В загон</option>
                        <option v-for="cor in corrals.filter(car => car.id !== commandForm.corralId)" :key="cor.id"
                                :value="cor.id">Загон-{{cor.id}}
                        </option>
                    </select>
                </div>
                <div class="py-2 text-right">
                    <button @click="executeCommand"
                            class="border border-blue-700 bg-gray-200 rounded px-4 py-1"
                            :class="{'spinner': loading}"
                    >
                        Выполнить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Corral from "./Corral";

    export default {
        name: 'Home',
        components: {Corral},
        data() {
            return {
                corrals: [],
                startDate: '',
                date: '',
                day: 0,
                intervalFunc: null,
                commands: [
                    {
                        label: 'Добавить овечку',
                        name: 'add-sheep',
                    },
                    {
                        label: 'Убить овечку',
                        name: 'delete-sheep',
                    },
                    {
                        label: 'Перенести овечку',
                        name: 'move-sheep',
                    },
                ],
                commandForm: {
                    commandName: '',
                    corralId: '',
                    toCorralId: '',
                },
                loading: false,
            }
        },

        computed: {
            currentDay() {
                let date = new Date();
                let day = this.day;
                date.setDate(date.getDate() + day);
                return date;
            }
        },

        async mounted() {
            let response = await axios.get(process.env.VUE_APP_API_URL + '/corrals');
            this.corrals = response.data.data;
            this.day = response.data.day;
            this.start();
        },

        methods: {
            async moveSheep(corralId) {
                this.disabled()

                let maxSheep = 0;
                let maxSheepCorId = null;
                for (let cor of this.corrals) {
                    if (maxSheep < cor.sheepsCount) {
                        maxSheep = cor.sheepsCount;
                        maxSheepCorId = cor.id;
                    }
                }

                let response = await axios({
                    method: 'put',
                    url: process.env.VUE_APP_API_URL + '/corrals/move-sheep',
                    headers: {"Access-Control-Allow-Origin": "*"},
                    data: {
                        from: maxSheepCorId,
                        to: corralId,
                    }
                });

                this.corrals = response.data.data;
                setTimeout(this.cancelDisabled, 1000)
            },


            executeCommand() {
                this.disabled()
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_API_URL + '/corrals/execute-command',
                    headers: {"Access-Control-Allow-Origin": "*"},
                    data: {
                        commandName: this.commandForm.commandName,
                        data: [
                            this.currentDay,
                            this.commandForm.corralId,
                            this.commandForm.toCorralId,
                        ]
                    }
                }).then(response => {
                    this.corrals = response.data.data;
                    this.commandForm.commandName = '';
                    this.commandForm.corralId = '';
                    this.commandForm.toCorralId = '';
                    setTimeout(this.cancelDisabled, 1000)
                })
            },

            start() {
                if (this.isReady()) {
                    this.startDay()
                }
            },

            isReady() {
                return !!this.corrals.filter(cor => cor.sheepsCount < 2);
            },

            async update() {
                this.disabled()
                let response = await axios.put(process.env.VUE_APP_API_URL + '/corrals/update-sheep');
                clearInterval(this.intervalFunc);
                this.intervalFunc = null;
                this.corrals = response.data.data;
                this.day = response.data.day || 1;
                this.start();
                setTimeout(this.cancelDisabled, 1000)
            },


            startDay() {
                if (this.intervalFunc === null) {
                    this.intervalFunc = setInterval(() => {
                        this.day++
                    }, 10000);
                }
            },

            addOneSheepEveryCorral() {
                this.disabled()
                let corralIds = this.corrals.filter(corral => corral.sheeps.length >= 2).map(cor => cor.id);
                axios({
                    method: 'post',
                    url: process.env.VUE_APP_API_URL + '/corrals/add-sheep',
                    headers: {"Access-Control-Allow-Origin": "*"},
                    data: {date: this.currentDay, corralIds}
                }).then(response => {
                    this.corrals = response.data.data;
                    setTimeout(this.cancelDisabled, 1000)
                })
            },

            deleteOneSheepEveryCorral() {
                this.disabled()
                let corralIds = this.corrals.filter(corral => corral.sheeps.length).map(cor => cor.id);
                axios({
                    method: 'delete',
                    url: process.env.VUE_APP_API_URL + '/corrals/delete-sheep',
                    headers: {"Access-Control-Allow-Origin": "*"},
                    data: {date: this.currentDay, corralIds}
                }).then(response => {
                    this.corrals = response.data.data;
                    setTimeout(this.cancelDisabled, 1000)
                })
            },

            cancelDisabled(){
                this.loading = false;
            },

            disabled(){
                this.loading = true;
            }
        },

        watch: {
            day() {
                this.addOneSheepEveryCorral();
                if ((this.day % 10) === 0) {
                    this.deleteOneSheepEveryCorral()
                }
            },
        },

        destroyed() {
            clearInterval(this.intervalFunc);
        }
    }
</script>



