<template>
    <div class="bg-gray-100 p-48">
        <div class="text-right">
            <router-link to="/" class="font-bold text-blue-700 text-2xl">Назад</router-link>
        </div>
        <div class="flex justify-center">
            <table class="table-auto p-32" v-if="reportData">
                <thead>
                <tr>
                    <th class="px-4 pt-8 text-2xl">Наименование</th>
                    <th class="px-4 pt-8 text-2xl">Колличество</th>
                </tr>
                </thead>
                <tbody class="shadow-xl">
                <tr v-for="(report, key) in reportData" :key="key">
                    <td class="border border-blue-300 px-24 bg-gray-200 text-2xl">{{key}}</td>
                    <td class="border border-blue-300 px-48 bg-gray-200 text-xl">{{report}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Report",

        data() {
            return {
                reportData: null
            }
        },

        async mounted() {
            let response = await axios.get(process.env.VUE_APP_API_URL + '/corrals/get-report');
            this.reportData = response.data;
            clearInterval(this.intervalFunc);
            this.intervalFunc = null
        }
    }
</script>

<style scoped>

</style>