<template>
    <div>
        <div v-for="sh in sheep" :key="sh.id">
            Овечка {{sh.id}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Sheep",
        props: ['sheep'],
    }
</script>

<style scoped>

</style>